@font-face {
    src: url('fonts/Brief-River.woff');
    format('woff');
    font-family: serif;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: greenyellow;
    cursor: url("asset/cursor-_2_.png"), default;
}

body {
    color: white;
    background-color: black;
    overflow: scroll;
    font-family: 'Patua One', cursive;
}

html,
body {
    cursor: url("asset/cursor-_1_.png"), default;
    
}

canvas {
    display: block;
}

.deck {
    /*    display:contents;*/
    /*    overflow: scroll;*/
    width: max-content;
    display: flex;
}

img {
    transition: width 2s, height 2s;
}

.card {
    width: 200px;
    transition: width 2s, height 2s;
    height: 80%;
    border-style: solid;
    background-color: transparent;
    color: white;
    /*    position: absolute;*/
    top: 10px;
    border-color: white;
    cursor: url("asset/cursor-_1_.png"), default;

    /*
    border-color: white;
    position: absolute;
*/

}

.bigger {
    transition: width 2s, height 2s;
    width: 400px;
    height: 80%;
    border-style: solid;
    /*    position: absolute;*/

    /*    background-color: red;*/
}

.smaller {
    transition: width 2s, height 2s;
    height: 80%;
    border-style: solid;
    width: 200px;
}

.cardName {
    writing-mode: vertical-rl;
    inline-size: 100%;
    font-size: 400%;
    width: 100%;
    justify-content: center;
    transition: width 2s, height 2s;
    display: flex;
    align-items: center;
    font-family: 'Brief-River';
}

.cardName h4 {
    cursor: url("asset/cursor-_2_.png"), default;
}

.writing {
    transition: width 2s, height 2s;
    writing-mode: horizontal-tb;
    border-style: dashed;
    display: block;
}

#aCard {
    transition: width 2s, height 2s;
    width: 400px;
    height: 80%;
    border-style: solid;
    color: greenyellow;
}

.cardContent {
    display: none;
    overflow: hidden;
}

.show {
    display: inline-table;
}

.cardContent span {
    writing-mode: horizontal-tb;
    font-size: 17px;
    width: 25%;
}

cardName h4 {
    display: inline;
}

.hide {
    writing-mode: horizontal-tb;
    position: relative;
    top: 0;
    width: 100%;
    text-align: center;
}

.cardContent img {
    /*    height: 80%;*/
    height: 400px;
    cursor: url("asset/cursor-_2_.png"), default;
}
.cardContent img:hover{
    height:420px;
}
.index-intro {
    padding-left: 2%;
    top: 100%;
    position: absolute;
}

.index-intro h1 {
    font-size: 5vw;
}

#static {
    position: absolute;
    top: 100%;
    right: -10px;
    width: 40%
}

#main-title {
    writing-mode: horizontal-tb;
    width: 300px;
    transition: width 2s, height 2s;
    display: flex;
    position: absolute;
    align-items: center;
    height: 20%;
    line-height: 1.6;
    left: 75px;
    top: 230px;
}

.strike {
    position: absolute;
    top: 100px;
    display: inline;

}

.title-show {
    text-decoration: line-through;
}

.cardName h4:hover {
    color: greenyellow;
}

nav {
    position: absolute;
    top: 0;
}

.menu-button {
    display: block;
    position: fixed;
    top: 30px;
    right: 30px;
    width: 60px;
    height: 60px;
    border: solid 2px greenyellow;
    border-radius: 50%;
    z-index: 100;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    cursor: url("asset/cursor-_2_.png"), default;

}

.line {
    border-bottom: solid 4px greenyellow;
    height: 4%;
    width: 90px;
    right: 15px;
    position: fixed;
}
.vertical-line{
    border-left: solid 4px greenyellow;
    height: 90px;
    top: 20px;
    width: 1px;
    right: 60px;
    display: block;
    position: fixed;       
}

.menu-button.open {
    border: solid 4px greenyellow;
    cursor: url("asset/cursor-_2_.png"), default;
}

.menu {
    position: fixed;
    height: 100vh;
    width: 300px;
    background-color: black;
    color: white;
    left: calc(100% - 300px);
    text-align: center;
    transform: translateX(500px);
    transition: all 0.2s ease-in;
    z-index: 80;
}

.menu.open {
    transform: translateX(0);
}

.menu ul {
    list-style-type: none;
    position: absolute;
    top: 40%;
    left: 47%;
    transform: translate(-50%, -50%);
    padding: 120px 50px;
    border-style: dashed;
    border-color: greenyellow;
}

.menu li {
    padding: 30px 0;
    font-size: 30px;
}

.cover {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    /*    background: black;*/
    opacity: 1;
    z-index: -20;

}
#header{
    font-size: 4vw;
    background-color: white;
    color: black;
    width: 100%;
    padding: 10px;
}
/*-------Man-page-----*/
#myVideo {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

.after {
    position: absolute;
    top: 100%;
}

.explanation {
    font-size: 3vh;
    line-height: 1.2;
    width:97%
}
