body{
 color: white;
background-color: black;
overflow:scroll;
}
canvas {
  display: block;
}
.deck{
/*    display:contents;*/
/*    overflow: scroll;*/
    width: max-content;
    display: flex;
}
img {
    transition: width 2s, height 2s;
}
.card{
    width: 200px;
    transition: width 2s, height 2s;
    height: 80%;
    border-style: solid;
    background-color: transparent;
    color: white;
/*    position: absolute;*/
    top: 10px;
    border-color:white;

/*
    border-color: white;
    position: absolute;
*/
    
}
.bigger {
    transition: width 2s, height 2s;
    width: 400px;
    height: 80%;
    border-style: solid;
/*    position: absolute;*/

    /*    background-color: red;*/
}
.smaller{
    transition: width 2s, height 2s;
    height: 80%;
    border-style: solid;
    width: 200px;
}
.cardName{
    writing-mode: vertical-rl;
    inline-size: 100%;
    font-size: 400%;
    width: 100%;
    justify-content: center;
    transition: width 2s, height 2s;
    display: flex;
    align-items: center;
}
.writing {
    transition: width 2s, height 2s;
    writing-mode: horizontal-tb;
    border-style: dashed;
    display:block;
}
#aCard{
    transition: width 2s, height 2s;
    width: 400px;
    height: 80%;
    border-style: solid;
}
.cardContent{
    display: none;
  overflow: hidden;
}
.show{
    display:inline;
}
#man-quote span{
    writing-mode: horizontal-tb;
    font-size: 10px;
}
cardName h4{
    display: inline;
}
.hide{
    writing-mode: horizontal-tb;
    position:relative;
    top: 0;
    width:100%;
    text-align: center;
}

.cardContent img{
    height: 80%;
}
.index-intro{
    padding-left: 2%;
    top:100%;
    position: absolute;
}
.index-intro h1{
    font-size: 5vw;
}
#static{
    position: absolute;
    top: 100%;
    right: -10px;
    width: 40%
}
#main-title{
    writing-mode: horizontal-tb;
    width: 80%;
    transition: width 2s, height 2s;
    display: flex;
    align-items: center;
    height:100%;
    line-height: 1.6
}
#main-title del{
    display: none;
}

.cardName h4:hover{
    color: greenyellow;
}

/*-------Man-page-----*/
#myVideo {
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}
.after{
position: absolute;
    top: 100%;
}